<%= f.fields_for :community_services do |community_service| %>
    <div class="field">
      <%= community_service.label :total_hours %><br>
      <%= community_service.text_field :total_hours %>
    </div>
<% end %>