<%= f.fields_for :philanthropies do |philanthropies| %>
    <div class="field">
      <%= philanthropies.label :total_raised %><br>
      <%= philanthropies.text_field :total_raised %>
    </div>
<% end %>