<div class="row">
  <div class="container">
    <div class="col-md-6 col-md-offset-3 top-card-padding">
      <div class="card">
        <h1>Editing Philanthropy</h1>

        <%= render 'form' %>

        <%= link_to 'Show', @philanthropy %> |
        <%= link_to 'Back', philanthropies_path %>
      </div>
    </div>
  </div>
</div>
