<div class="row">
  <div class="container">
    <div class="col-md-6 top-card-padding">
      <div class="card">
        <h4>
          Create Philanthropy Event
        </h4>
        <div class="post_text">
          <%= render 'form' %>
        </div>
        <div class="clear"> </div>
      </div>
    </div>

    <div class="col-md-6 top-card-padding">
      <div class="card">
        <h4>
          Event Not Found? Create Here!
        </h4>
        <div class="post_text">
          <% @event = Event.new %>
          <% @event.philanthropies.build %>
          <%= render 'events/philanthropy_event_form' %>
        </div>
        <div class="clear"> </div>
      </div>
    </div>
  </div>
</div>